<h3><%= i %>. Name: <%= author.name %></h3>
<h4>From: <%= author.hometown %></h4>
<ul>
  <% author.posts.each do |post| %>
  <div id="body-<%= author.id %>"><%= truncate post.title %></div>
    <button class="js-more" data-id="<%= author.id %>">See Posts By <%= author.name %></button>



  <% end %>

</ul>
