<div class="wrapper clearfix">

  <div class="col-md-8 ml20">

    <p><%= link_to "Edit", edit_post_path(@post) %> |
    <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %> | <%= link_to "Home", root_path %></p>

    <div class="authorName">By: <%= @post.author.name %></div>
    <a href="#" class="js-next" data-id="<%=@post.id%>">Next...</a>
    <h1 class="postTitle"><%= @post.title %></h1>
    <p class="postBody"><%= @post.content %></p>

    <p><a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a></p>  <br />

    <script type="text/javascript" charset="utf-8">
    $(function () {
      $(".js-next").on("click", function() {

        var nextId = parseInt($(".js-next").attr("data-id")) + 1;
        $.get("/posts/" + nextId + ".json", function(data) {
          var post = data["post"];
          $(".authorName").text(data["author"]["name"]);

          $(".postTitle").text(data["title"]);
          $(".postBody").text(data["content"]);
          debugger
          // re-set the id to current on the link
          $(".js-next").attr("data-id", data["id"]);
        });
      });
    });
    </script>
    <div class="col-md-5">
    <%= render partial: 'comments/form', locals: {post: @post} %>
      <br />
      <div id="commentResult">
        <p id="commentBody"></p>
      </div>
    </div>

    <script type="text/javascript" charset="utf8">
      $(function () {
        $('form').submit(function(event) {
          event.preventDefault();

          var values = $(this).serialize();

          var commenting = $.post('/comments', values);

          commenting.done(function(data) {
            var comment = data["content"];

            $("#commentBody").text(comment);
          });
        });
      });
    </script>


  </div>


  <div class="col-1">
    <br />
      <% @posts.each do |post| %>
      <h4><%= link_to post.title, post_path(post) %></h4>
      <% end %>
  </div>
</div>
